<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:LightBlue;">
    <font color="Black" face="arial" size=4&gt>
     http://127.0.0.1:8000/ <br />
    -Destinos y transportes:    http://127.0.0.1:8000/ofertas <br />
    -Buscar un destinos:        http://127.0.0.1:8000/busqueda <br />
    -Solicitar presupuesto:     http://127.0.0.1:8000/ingrese <br />
    -Buscar prespuesto  x dni:  http://127.0.0.1:8000/estado <br />
<br />  
 
    {% block Cambia %}
    
    {% endblock %} 
  
</font>   
</body>
</html>