<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:LightBlue;">
    <font color="Black" face="arial" size=4&gt>
    INICIO <br /> <br /> <br />
    -link ofertas destinos y transportes <br />
    -link para buscar un destinos <br />
    -link ingreso de presupuesto <br />
    -link para cliente y buscar prespuesto ingresado x dni <br />
    
 
 <!--   <p style="color:blue">Categoria: {{c}} </p> -->
 <!--   <p style="color:green">Tipo: {{t}} </p> -->
  
</font>   
</body>
</html>